<div class="content">
<div class="card">
    <img [src]="" alt="">
</div>
<div class="card">
<form >
    <p>{{data?.name}}</p>
    <p>Price - {{data?.pricePerNight}} $</p>
    <hr>
    <label for="">Check-in</label>
    <input  type="date" ngModel name="checkIn">
    <label for="">Check-out</label>
    <input type="date"ngModel name="checkOut">
    <label for="">Customer Name</label>
    <input type="text">
    <label for="">Customer Phone</label>
    <input type="text">
    <button>Book Now</button>
</form>
</div>
</div>