
<form #form="ngForm" (ngSubmit)="submit(form)">
<input ngModel name="priceFrom" type="number">
<input ngModel name="priceTo" type="number">
<select ngModel name="roomTypeId">
    <option value="1">Single</option>
    <option value="2">Double</option>
    <option value="3">Deluxe</option>
  </select>

  <input  type="date" ngModel name="checkIn">
  <input type="date"ngModel name="checkOut">
  <select ngModel name="maximumGuests" id="">
    <option value="1">1 adult</option>
    <option value="2">2 adult</option>
    <option value="3">3 adult</option>
    <option value="4">4 adult</option>
    <option value="5">5 adult</option>
  </select>

  <button type="submit">Submit</button>

</form>