/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 250px;
    border-radius: 20px;
    transition: .5s linear;
}

.content {
    width: 1400px;
    /* height: 500px; */
    margin: 0 auto;
    padding: 120px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card {
    max-width: 380px;
    min-height: 400px;
    background-color: rgb(179, 214, 229);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    transition: .5s linear;
}

button:hover {
    width: 120px;
    background-color: rgb(104, 182, 203);
    font-size: 20px;
    color: rgb(179, 214, 229);
}